[submodule "bundle/phpcomplete"]
	path = bundle/phpcomplete
	url = git://github.com/shawncplus/phpcomplete.vim.git
[submodule "bundle/solarized"]
	path = bundle/solarized
	url = git://github.com/altercation/vim-colors-solarized.git
